.product-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin-top: 12vh;
    border: none
}

.product-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.product-name {
    margin: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.review-list {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.review {
    margin: 0.5rem;
}