@import "https://universeui.netlify.app/components.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
  --primary-color: #6200EE;
  --primary-light: #c39ff5;
  --primary-hover: #3700B3;
  --secondary-color: #03dac6;
  --secondary-light: #bff5ef;
  --secondary-hover: #018786;
}

.App{
  border: none;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  font-family: 'Montserrat', 'san-serif';
}