.banner {
    width: 100%;
    cursor: pointer;
}

.homepage-container {
    margin-top: 10vh;
}

.banner-grid {
    width: 48vw;
}

@media (min-width: 768px) {
    .hide-banner {
        display: none
    }
}